.float-div {
    position:fixed;
    /*left:550px;*/
    left:0px;
    top:300px;
}

.float-leftpane {
    position: fixed;
    left:30px;
    top:60px;
}

body {
    margin-top:60px;
}

.float-button { float:top; }
@-ms-viewport       { width: device-width; }
.div_contents_viewer { height:500px; overflow: auto;}


.jstree-proton .jstree-search  {
    font-style:normal;color:#333;font-weight:400;
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    padding:1px 1px;
    margin:0 -1px;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    padding:1px 1px;
    margin:0 -1px;
}

.div_contents_viewer img {
    max-width: 95%;
    height: auto;
}