.float-div {
    position:fixed;
    /*left:550px;*/
    left:0px;
    top:65px;
}

.float-leftpane {
position: fixed;
/*left:30px;
    top:60px;
    overflow: auto;
    overflow-y: scroll;*/
}

/*div .editor_pane {
    overflow-y:scroll;
}
*/
div #andQueryView {
    overflow-y: scroll;
    height:60px;
}

body {
    margin-top:60px;
}

.float-button { float:top; }
@-ms-viewport       { width: device-width; }
.div_contents_viewer { height:500px; overflow: auto;}


.jstree-proton .jstree-search  {
    font-style:normal;color:#333;font-weight:400;
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    padding:1px 1px;
    margin:0 -1px;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    padding:1px 1px;
    margin:0 -1px;
}

.div_contents_viewer img {
    max-width: 95%;
    height: auto;
}


/***** for D3 Chart ******/

/* when use Circular, please disable until END Mark */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
/* until here END Mark */

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#licensing {
    fill: green;
}

path.link.licensing {
    stroke: green;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
    align: center;
    fill: #bbb;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}
