{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class="container-fluid" style="margin-top:35px;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<h3><i class="fa fa-crosshairs"></i> Overall</h3>
				<div id="chart_Overall"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<h3><i class="fa fa-dashboard"></i> Detection Score</h3>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div id="chart_V3Rate"></div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div id="chart_MDP_VMRate"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			<h3><i class="fa fa-bar-chart"></i> Engine Diff Chart 
				   <small><input type="checkbox" id="toggle_value"> Show values</small></h3>
				<div id="chart_EngineDiff"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="resultTable-toolbar">
					<div class="btn-group" role="group">
						<button class="btn btn-default" id="sendtoanalysis"><i class="fa fa-search-plus"></i> Send to Analysis</button>
					</div>
	 				<div class="btn-group">
						<button type="button" class="btn btn-default" onclick="startDownload('xml')"><i class="fa fa-download"></i> Download XML</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="javascript:startDownload('xml')">Download XML</a></li>
							<li><a href="javascript:startDownload('html')">Download HTML</a></li>
						</ul>
					</div>
				</div>
				<table id="resultTable"
					class="bootstrapTable"
					data-show-columns="true"
					data-click-to-select="true"
					data-pagination="true"
					data-search="true"
					data-sort-name="Date, Severity"
					data-sort-order="desc"
					data-striped="true"
					data-page-size="100"
					data-page-list="[100,200,500,1000,All]"
					data-show-export="true"
					data-row-style="rowStyle"
					
					data-cookie="true"
					data-cookie-id-table="resultTable"
					data-advanced-search="true"
					data-id-table="resultTable"
					data-maintain-selected="true"
					data-show-multi-sort="true" 
					data-reorderable-columns="true"
					data-resizable="true"

					data-toolbar="#resultTable-toolbar"

					>

					<thead>
						<tr>
							<th data-sortable = "false" data-visible="true"  data-field="state"    data-checkbox="true">C</th>
							<th data-sortable = "true"  data-visible="true"  data-field="Date"     data-width="96px">Date</th>
							<th data-sortable = "true"  data-visible="false" data-field="Name">Name</th>
							<th data-sortable = "true"  data-visible="true"  data-field="Type"     data-width="80px">Type</th>
							<th data-sortable = "true"  data-visible="true"  data-field="MD5"      data-width="260px">MD5</th>
							<th data-sortable = "true"  data-visible="false" data-field="CRC64">CRC64</th>
							<th data-sortable = "true"  data-visible="true"  data-field="Size"     data-width="80px" data-align="right">Size</th>
							<th data-sortable = "true"  data-visible="true"  data-field="Severity" data-width="98px" data-align="right">Severity</th>
							<th data-sortable = "true"  data-visible="true"  data-field="Threat_Name">Threat Name</th>
							<th data-sortable = "true"  data-visible="true"  data-field="MDP_VM_Result"              data-width="124px">MDP Result</th>
							<th data-sortable = "true"  data-visible="true"  data-field="MDP_VM_Reason">MDP Reason</th>
							<th data-sortable = "true"  data-visible="true"  data-field="V3_Result"                  data-width="124px">V3 Result</th>
							<th data-sortable = "true"  data-visible="true"  data-field="V3_Reason">V3 Reason</th>
							<th data-sortable = "true"  data-visible="false" data-field="VirusTotal_Result">VirusTotal Result</th>
							<th data-sortable = "true"  data-visible="false" data-field="VirusTotal_Reason">VirusTotal Reason</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="row">
			<form id="md5listForm" method="POST" action="/analysis/md5list/" style="display:none;">
				<!-- <input name="md5listField" type="hidden" id="md5listField"> -->
			</form>
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block footer_script %}

<script type="text/javascript" src="/static/js/chart_diff.js"></script>
<script type="text/javascript" src="/static/js/chart_rate.js"></script>
<script type="text/javascript" src="/static/js/chart_overall.js"></script>

<script>

function rowStyle(row, index) {
   if ( 
		   (row.V3_Result=="MALICIOUS")
		&& (row.MDP_VM_Result=="MALICIOUS")
	) {
		return { classes: 'primary monospace' };
	} else if (
		   ( (row.V3_Result=="MALICIOUS") || (row.V3_Result=="SUSPICIOUS") )
		&& (row.MDP_VM_Result=="BENIGN")
	) {
		return { classes: 'warning monospace' };
	} else if (
		   (row.MDP_VM_Result=="MALICIOUS") && (row.V3_Result=="BENIGN")
	) {
		return { css: "background-color: '#8D5DB8'", classes: 'monospace' };
	}


	return { classes: 'monospace' };
}


function refresh(daterange) {
	$.ajax({
		url:"/fetch/EngineDiff/?daterange="+daterange,
		dataType:"json",
		success: function(data) {
			// console.log(data);
			loadDiffChart(data);
		}
	});

	$.ajax({
		url:"/fetch/AllRate/?daterange="+daterange,
		dataType:"json",
		success: function(data) {
			loadRateChart(data);
		}
	});

	$.ajax({
		url:"/fetch/Overall/?daterange="+daterange,
		dataType:"json",
		success: function(data) {
			// console.log("loadOverallChart",data);
			loadOverallChart(data);
		}
	});

	$.ajax({
		url:"/fetch/ResultTable/?daterange="+daterange,
		dataType:"json",
		success: function(data) {
			// console.log("resultTable",data);
			$('#resultTable').bootstrapTable('destroy');
			$('#resultTable').bootstrapTable({data:data});
		}

	});
}

function startDownload(fileType){
	var md5keys=$.map($('#resultTable').bootstrapTable('getSelections'), function(o){ return o.MD5; });
	console.log("md5keys",md5keys);
	if ( md5keys.length > 0 ) {
		MultiDownload(md5keys,fileType);
	} else {
		alert("Please select files.");
	}

}

$(document).ready(function() { 
	var dateFormat='YYYY/MM/DD'
	var startDate=moment().add(-1,'months').format(dateFormat);
	var endDate=moment().format(dateFormat);
	var range=startDate+" - "+endDate;

	$('#daterange').daterangepicker({
			format: dateFormat,
			ranges: {
			   'Today': [moment(), moment()],
			   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			   'This Month': [moment().startOf('month'), moment().endOf('month')],
			   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			}
		},
		function (start, end) {
			var range=start.format(dateFormat)+" - "+end.format(dateFormat)
			refresh(range);
			// console.log(range);
		}
	);

	var dr=$('#daterange').data('daterangepicker');

	dr.setStartDate(startDate);
	dr.setEndDate(endDate);

	refresh(range);

	$('#daterange').on('enter', function(){ refresh(range); });

	// $('#md5listForm').attr('action', '/md5list/');
	$('#sendtoanalysis').on('click', function() {
		// on click should be fill up form and send to targetUrl
		
		// 1. get selection from table, and fill up #md5list
		var md5keys=$.map($('#resultTable').bootstrapTable('getSelections'),function(o){ return o.MD5;});
		// console.log(md5keys);

		// 2. append inputfield and fill up
		$.each(md5keys,function(idx, md5key){
			$("<input>").attr(
				'type','hidden').attr(
				'name','md5list[]').attr(
				'value',md5key
			).appendTo('#md5listForm');
		});


		// 3. submit form.
		$('#md5listForm').submit();
	});

	// DOWNLOAD
	$('#download').on('click', function() {
		var md5keys=$.map($('#resultTable').bootstrapTable('getSelections'), function(o){ return o.MD5; });
		// console.log(md5keys);
		MultiDownload(md5keys,'xml');
	});

	$('#resultTable').bootstrapTable('refreshOptions', {
		// exportDataType can be '', 'all', 'selected'
		exportDataType: 'selected'
	});

});

</script>
{% endblock %}
